## 1.1 Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

## 1.2  Load the Forest Cover Data

In [21]:
covtype = pd.read_csv('../raw data/covtype.csv')

In [22]:
covtype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581012 entries, 0 to 581011
Data columns (total 55 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Elevation                           581012 non-null  int64
 1   Aspect                              581012 non-null  int64
 2   Slope                               581012 non-null  int64
 3   Horizontal_Distance_To_Hydrology    581012 non-null  int64
 4   Vertical_Distance_To_Hydrology      581012 non-null  int64
 5   Horizontal_Distance_To_Roadways     581012 non-null  int64
 6   Hillshade_9am                       581012 non-null  int64
 7   Hillshade_Noon                      581012 non-null  int64
 8   Hillshade_3pm                       581012 non-null  int64
 9   Horizontal_Distance_To_Fire_Points  581012 non-null  int64
 10  Wilderness_Area1                    581012 non-null  int64
 11  Wilderness_Area2                    581012 non-null  int64
 12  Wilderness_Area3                    581012 non-null  int64
 13  Wilderness_Area4                    581012 non-null  int64
 14  Soil_Type1                          581012 non-null  int64
 15  Soil_Type2                          581012 non-null  int64
 16  Soil_Type3                          581012 non-null  int64
 17  Soil_Type4                          581012 non-null  int64
 18  Soil_Type5                          581012 non-null  int64
 19  Soil_Type6                          581012 non-null  int64
 20  Soil_Type7                          581012 non-null  int64
 21  Soil_Type8                          581012 non-null  int64
 22  Soil_Type9                          581012 non-null  int64
 23  Soil_Type10                         581012 non-null  int64
 24  Soil_Type11                         581012 non-null  int64
 25  Soil_Type12                         581012 non-null  int64
 26  Soil_Type13                         581012 non-null  int64
 27  Soil_Type14                         581012 non-null  int64
 28  Soil_Type15                         581012 non-null  int64
 29  Soil_Type16                         581012 non-null  int64
 30  Soil_Type17                         581012 non-null  int64
 31  Soil_Type18                         581012 non-null  int64
 32  Soil_Type19                         581012 non-null  int64
 33  Soil_Type20                         581012 non-null  int64
 34  Soil_Type21                         581012 non-null  int64
 35  Soil_Type22                         581012 non-null  int64
 36  Soil_Type23                         581012 non-null  int64
 37  Soil_Type24                         581012 non-null  int64
 38  Soil_Type25                         581012 non-null  int64
 39  Soil_Type26                         581012 non-null  int64
 40  Soil_Type27                         581012 non-null  int64
 41  Soil_Type28                         581012 non-null  int64
 42  Soil_Type29                         581012 non-null  int64
 43  Soil_Type30                         581012 non-null  int64
 44  Soil_Type31                         581012 non-null  int64
 45  Soil_Type32                         581012 non-null  int64
 46  Soil_Type33                         581012 non-null  int64
 47  Soil_Type34                         581012 non-null  int64
 48  Soil_Type35                         581012 non-null  int64
 49  Soil_Type36                         581012 non-null  int64
 50  Soil_Type37                         581012 non-null  int64
 51  Soil_Type38                         581012 non-null  int64
 52  Soil_Type39                         581012 non-null  int64
 53  Soil_Type40                         581012 non-null  int64
 54  Cover_Type                          581012 non-null  int64
dtypes: int64(55)
memory usage: 243.8 MB

There are no missing values in the dataset. The dataset consists of 581012 rows and 54 columns.

In [4]:
covtype.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

Our goal is to predict the forest cover type, so target value is the last column **Cover_Type**.

## 1.3 Explore the Data

### 1.3.1 Numeric Features

Let's expore the spread of the potential features. We exclude the categorial features **Wilderness_Area** and **Soil types** here.

In [5]:
none_catcol = ~covtype.columns.str.match(pat = '(Soil_Type.*)|(Wilderness_Area.*)')

In [6]:
covtype.iloc[:,none_catcol].describe()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type
count,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000
mean,2959.365301,155.656807,14.103704,269.428217,46.418855,2350.146611,212.146049,223.318716,142.528263,1980.291226,2.051471
std,279.984734,111.913721,7.488242,212.549356,58.295232,1559.254870,26.769889,19.768697,38.274529,1324.195210,1.396504
min,1859.000000,0.000000,0.000000,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2809.000000,58.000000,9.000000,108.000000,7.000000,1106.000000,198.000000,213.000000,119.000000,1024.000000,1.000000
50%,2996.000000,127.000000,13.000000,218.000000,30.000000,1997.000000,218.000000,226.000000,143.000000,1710.000000,2.000000
75%,3163.000000,260.000000,18.000000,384.000000,69.000000,3328.000000,231.000000,237.000000,168.000000,2550.000000,2.000000
max,3858.000000,360.000000,66.000000,1397.000000,601.000000,7117.000000,254.000000,254.000000,254.000000,7173.000000,7.000000

The features have varying ranges and scales,where the **slope** has the mean value 14.1 degrees with std 7.49 while **Elevation** has the mean value 2350.15 with std 1559.25 approximately.

#### 1.3.1.1 Hillshade Index and Cover Type

In [7]:
#mean hillshade index by cover type 
covtype.groupby('Cover_Type').mean()[['Hillshade_9am','Hillshade_Noon','Hillshade_3pm']]

            Hillshade_9am  Hillshade_Noon  Hillshade_3pm
Cover_Type
1              211.998782      223.430211     143.875038
2              213.844423      225.326596     142.983466
3              201.918415      215.826537     140.367176
4              228.345832      216.997088     111.392792
5              223.474876      219.035816     121.920889
6              192.844302      209.827662     148.284044
7              216.967723      221.746026     134.932033

In [8]:
#sum hillshde index by cover_type
covtype.groupby('Cover_Type').mean()[['Hillshade_9am','Hillshade_Noon','Hillshade_3pm'
                              ]].sum(axis = 1).sort_values()

Cover_Type
6    550.956009
4    556.735712
3    558.112127
5    564.431581
7    573.645783
1    579.304031
2    582.154486
dtype: float64

#### 1.3.1.2 Explore Suspicious Values

As we can see from the summary table, the values of each feature appear to be positive except the ones of **Vertical_Distance_To_Hydrology**. The table shows that the min value of **Vertical_Distance_To_Hydrology** is -173. **Vertical_Distance_To_Hydrology** indicates the vertical distance from the sample forest to its nearest surface water,so it is sensible that the value could be negtive when the elevation of the forest is higher than the surface water. Let' check that if the min value is the only negative value or is caused by input error.

In [9]:
covtype.sort_values('Vertical_Distance_To_Hydrology').Vertical_Distance_To_Hydrology

560962   -173
554446   -166
560804   -166
554253   -164
554637   -163
         ...
224576    597
225047    598
223210    598
224112    599
223655    601
Name: Vertical_Distance_To_Hydrology, Length: 581012, dtype: int64

### 1.3.2 Categorical Features

#### 1.3.2.1 Counts of Categorical Features

The categorical feature Wilderness_Area consists of 4 different wilderness areas, where:

    .Wilderness_Area1 is Rawah Wilderness Area
    .Wilderness_Area2 is Neota Wilderness Area
    .Wilderness_Area3 is Comanche Peak Wilderness Area
    .Wilderness_Area3 is Cache la Poudre Wilderness Area
    
Let's find out the count for each wilderness area in our dataset.

In [10]:
covtype.iloc[:,covtype.columns.str.match(pat = 'Wilderness_Area.*')].sum()

Wilderness_Area1    260796
Wilderness_Area2     29884
Wilderness_Area3    253364
Wilderness_Area4     36968
dtype: int64

Let's also check out the count for each soil type.

In [11]:
covtype.iloc[:,covtype.columns.str.match(pat = 'Soil_Type.*')].sum()

Soil_Type1       3031
Soil_Type2       7525
Soil_Type3       4823
Soil_Type4      12396
Soil_Type5       1597
Soil_Type6       6575
Soil_Type7        105
Soil_Type8        179
Soil_Type9       1147
Soil_Type10     32634
Soil_Type11     12410
Soil_Type12     29971
Soil_Type13     17431
Soil_Type14       599
Soil_Type15         3
Soil_Type16      2845
Soil_Type17      3422
Soil_Type18      1899
Soil_Type19      4021
Soil_Type20      9259
Soil_Type21       838
Soil_Type22     33373
Soil_Type23     57752
Soil_Type24     21278
Soil_Type25       474
Soil_Type26      2589
Soil_Type27      1086
Soil_Type28       946
Soil_Type29    115247
Soil_Type30     30170
Soil_Type31     25666
Soil_Type32     52519
Soil_Type33     45154
Soil_Type34      1611
Soil_Type35      1891
Soil_Type36       119
Soil_Type37       298
Soil_Type38     15573
Soil_Type39     13806
Soil_Type40      8750
dtype: int64

#### 1.3.2.2 Counts of Forest Type by wilderness areas

In [12]:
def create_label(df):   
    '''create a label columns for categorical columns'''
    df['Label'] = df.loc[:,df.columns != 'Cover_type'
                        ].apply(lambda row : row.index[row.argmax()], axis = 1)
    return df

In [13]:
#Extract all columns contains the string ''Wilderness_Area'
wild_cover = covtype.loc[:,covtype.columns[covtype.columns.str.contains(pat = 'Wilderness_Area.*')]]
wild_cover['Cover_type'] = covtype.Cover_Type

In [14]:
wild_cover_label = create_label(wild_cover)

In [15]:
#counts of forest cover type by wilderness_area
wild_cover_label[['Label','Cover_type']]\
                                        .groupby(['Label','Cover_type'])\
                                        .size()\
                                        .to_frame('size')

                               size
Label            Cover_type
Wilderness_Area1 1           105717
                 2           146197
                 5             3781
                 7             5101
Wilderness_Area2 1            18595
                 2             8985
                 7             2304
Wilderness_Area3 1            87528
                 2           125093
                 3            14300
                 5             5712
                 6             7626
                 7            13105
Wilderness_Area4 2             3026
                 3            21454
                 4             2747
                 6             9741

#### 1.3.2.3 Counts of Forest Type by soil type

In [16]:
#counts of cover_type by soil type
soil_cover = covtype.loc[:,covtype.columns[covtype.columns.str.contains(pat = 'Soil_Type.*')]]
soil_cover['Cover_type'] = covtype.Cover_Type
soil_cover_label = create_label(soil_cover)

soil_cover_label[['Label','Cover_type']]\
                                        .groupby(['Label','Cover_type'])\
                                        .size()\
                                        .to_frame('size')

                         size
Label       Cover_type
Soil_Type1  3            2101
            4             178
            6             752
Soil_Type10 1             956
            2           10803
...                       ...
Soil_Type7  2             105
Soil_Type8  1              43
            2             136
Soil_Type9  1             161
            2             986

[152 rows x 1 columns]

## 1.3 Save the Data

In [23]:
covtype.shape

(581012, 55)

In [24]:
#save the cleaned covtypeing data

datapath = '../data/'
covtype.to_csv(datapath + 'covtype.csv',index=False)